# Test Report

**Status**: FAILED

```
● Multiple configurations found:

    * /Users/srivardhan/Desktop/codegen_MOCK-123/login-page/jest.config.js
    * `jest` key in /Users/srivardhan/Desktop/codegen_MOCK-123/login-page/package.json

  Implicit config resolution does not allow multiple configuration files.
  Either remove unused config files or select one explicitly with `--config`.

  Configuration Documentation:
  https://jestjs.io/docs/configuration


```